body{
    background-image: url(./assets/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#bodyDestination{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.desImage{
    
    display: flex;
    flex-direction: column;
}
.desImage p{
    margin: 20px 0 0 225px;
}
.desImage img{
    width: 370px;
    height: 370px;
    margin: 60px 0 0 160px;
}
.desContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desnavBar{
    width: 50%;
    height: 40px;
    display: flex;justify-content: end;
    align-items: center;
    gap: 28px;
    position: relative;top: 40px;
}
.desnavBar a{
    margin-right: 14px;
    text-decoration: none;
    color: rgba(208, 214, 249, 1);
    position: relative;
}
.desnavBar a .moonNav{
    line-height: 40px;
}
.lineAfter::before{
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0;
    right: 0;
}
.desMoontext{
    width: 70%;
    height: 400px;
    position: relative;top: 40px;
    
}
.planetInfo{
    width: 100%;
    height: 60px;
    
    display: flex;
    flex-direction: row;
}
.planetDist{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.planetTime{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lamoon{
    font-size: 60px;color: white;
    margin: 30px 0 30px 0;
}
.Hr{
    width: 350px;height: 1px; 
    background-color: white;
    opacity: 0.2;
    margin: 30px 0 30px 0;
}
.mars{
    display: none;
}
.desMarstext{
    width: 70%;
    height: 400px;
    position: relative;top: 40px;
    display: none;
    
}
.europa{
    display: none;
}
.desEuropatext{
    width: 70%;
    height: 400px;
    position: relative;top: 40px;
    display: none;
}
.titan{
    display: none;
}
.desTitantext{
    width: 70%;
    height: 400px;
    position: relative;top: 40px;
    display: none;
}
@media (max-width:1024px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-destination-tablet.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        
    }
    .headLine{
       display: none;
    }
    .navContainer{
        width: 85%;
        height: 90%;
        position: relative;
        bottom: 35px;
        box-shadow: 0;
    }
 
    .navbar{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 90px;
    }
    .navbar a .pp{
        line-height: 95px;
    }
    .navbar a .pk{
        line-height: 95px;
    }
    .navbar a .pq{
        line-height: 95px;
    }
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 35px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    #bodyDestination{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .desImage p{

        margin: 20px 0 0 50px;
    }
    .desImage img{
        width: 300px;
        height: 300px;
        margin: 10px 0 0 350px;
    }
    #desContent{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .desnavBar{

        width: 50%;
        height: 40px;
        display: flex;justify-content: end;
        align-items: center;
        gap: 28px;
        position: relative;top: 40px;
        left: 18%;
    }
    .desMoontext{
       
        width: 100%;
        height: 300px;
        position: relative;top: 40px;
        
    }
    .lamoon{
        font-size: 60px;color: white;
        margin: 10px 0 30px 41.5%;
    }
    .des1{
        margin-left: 35%;
    }
    .Hr{
        width: 450px;
      margin: 20px 0 0 300px;
    }
    .planetInfo{
        width: 100%;
        height: 100px;
        
        display: flex;
        flex-direction: row;
    }
    .planetDist{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25%

    }
    .planetTime{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25%;
    }
    .mars{
        display: none;
    }
    .desMarstext{
        width: 100%;
        height: 300px;
        position: relative;top: 40px;
        display: none;
        
    }
    
    .europa{
        display: none;
    }
    .desEuropatext{
        width: 100%;
        height: 300px;
        position: relative;top: 40px;
        display: none;
    }
    .titan{
        display: none;
    }
    .desTitantext{
        width: 100%;
        height: 300px;
        position: relative;top: 40px;
        display: none;
    }
}
@media (max-width:890px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-destination-tablet.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        
    }
    .headLine{
       display: none;
    }
    .navContainer{
        width: 85%;
        height: 90%;
        position: relative;
        bottom: 35px;
        box-shadow: 0;
    }
 
    .navbar{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 40px;
    }
    .navbar a .pp{
        line-height: 95px;
    }
    .navbar a .pk{
        line-height: 95px;
    }
    .navbar a .pq{
        line-height: 95px;
    }
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 35px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    #bodyDestination{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .desImage p{

        margin: 20px 0 0 50px;
    }
    .desImage img{
        width: 300px;
        height: 300px;
        margin: 10px 0 0 250px;
    }
    #desContent{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .desnavBar{

        width: 50%;
        height: 40px;
        display: flex;justify-content: end;
        align-items: center;
        gap: 28px;
        position: relative;top: 40px;
        left: 25%;
    }
    .desMoontext{
       
        width: 100%;
        height: 300px;
        position: relative;top: 40px;
        
    }
    .lamoon{
        font-size: 60px;color: white;
        margin: 10px 0 30px 35.5%;
    }
    .des1{
        margin-left: 30%;
    }
    .Hr{
        width: 450px;
      margin: 20px 0 0 170px;
    }
    .planetInfo{
        width: 100%;
        height: 100px;
        
        display: flex;
        flex-direction: row;
    }
    .planetDist{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 22%

    }
    .planetTime{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 22%;
    }
    .mars{
        display: none;
    }
    .desMarstext{
        width: 100%;
        height: 300px;
        position: relative;top: 40px;
        display: none;
        
    }
    
    .europa{
        display: none;
    }
    .desEuropatext{
        width: 100%;
        height: 300px;
        position: relative;top: 40px;
        display: none;
    }
    .titan{
        display: none;
    }
    .desTitantext{
        width: 100%;
        height: 300px;
        position: relative;top: 40px;
        display: none;
    }
}
@media (max-width:699px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-destination-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        min-height: 7rem;
        display: flex;
        justify-content: space-between;
    }
    .headLine{
       display: none;
    }
    .navContainer{
        display: none;
    }
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 30px;
        right: 10px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    .desImage img{
        width: 300px;
        height: 300px;
        margin: 10px 0 0 200px;
    }
    .des1{
        margin-left: 25%;
    }
    .Hr{
        width: 450px;
      margin: 20px 0 0 120px;
    }
    .planetInfo{
        width: 100%;
        height: 100px;
        
        display: flex;
        flex-direction: column;
    }
    .planetDist{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        margin-left: 45%;

    }
    .planetTime{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-left: 45%;
    }
    .dropdownContent{
        left: 418px;
    }
}
@media (max-width:590px) {
    .desnavBar{

        width: 50%;
        height: 40px;
        display: flex;justify-content: end;
        align-items: center;
        gap: 28px;
        position: relative;top: 40px;
        left: 30%;
    }
    .desImage img{
        width: 250px;
        height: 250px;
        margin: 10px 0 0 170px;
    }
    .lamoon{
        font-size: 60px;color: white;
        margin: 10px 0 30px 35.5%;
    }
    .des1{
        margin-left: 22%;
    }
    .Hr{
        width: 450px;
      margin: 20px 0 0 80px;
    }
    .planetInfo{
        width: 100%;
        height: 100px;
        
        display: flex;
        flex-direction: column;
    }
    .planetDist{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        margin-left: 42%;

    }
    .planetTime{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-left: 42%;
    }
    .dropdownContent{
        left: 318px;
    }
}
@media (max-width:490px) {
    .desnavBar{

        width: 50%;
        height: 40px;
        display: flex;justify-content: end;
        align-items: center;
        gap: 20px;
        position: relative;top: 40px;
        left: 35%;
    }
    .desnavBar a{
        margin-right: 14px;
        font-size: 13px;
        text-decoration: none;
        color: rgba(208, 214, 249, 1);
        position: relative;
    }
    .desImage p{
        font-size: 13px;
        margin: 20px 0 0 50px;
    }
    .desImage img{
        width: 170px;
        height: 170px;
        margin: 10px 0 0 120px;
    }
    .lamoon{
        font-size: 60px;
        margin: 10px 0 30px 30.5%;
    }
    .des1{
        font-size: 13px;
        margin-left: 18%;
    }
    .Hr{
        width: 300px;
      margin: 20px 0 0 70px;
    }
    .planetInfo{
        width: 100%;
        height: 100px;
        
        display: flex;
        flex-direction: column;
    }
    .planetDist{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        margin-left: 42%;

    }
    .planetTime{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-left: 42%;
    }
    .dropdownContent{
        left: 218px;
    }
}
@media (max-width:390px) {
    .desnavBar{

        width: 50%;
        height: 40px;
        display: flex;justify-content: end;
        align-items: center;
        gap: 10px;
        position: relative;top: 40px;
        left: 40%;
    }
    .desImage img{
        width: 170px;
        height: 170px;
        margin: 10px 0 0 100px;
    }
    .lamoon{
        font-size: 40px;
        margin: 10px 0 30px 36.5%;
    }
    .des1{
        font-size: 10px;
        margin-left: 19%;
    }
    .Hr{
        width: 230px;
      margin: 20px 0 0 70px;
    }
    .dropdownContent{
        left: 118px;
    }
}