body{
    background-image: url(./assets/background-technology-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#bodyTech{
    width: 100%;
    height: 80vh;
    display: flex;
}
.techContent{
    width: 50%;
    height: 100%;
}
.techImage{
    width: 50%;
    height: 100%;
}
.techImage img{
    width: 70%;
    height: 90%;
    margin: 50px 0 0 50px;
}
.techcontentheader{
    width: 50%;
    height: 30PX;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 65px;
}
#techcontenttext{
    width: 100%;
    height: 50vh;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.techtextnum{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-items: end;
    align-items: end;
}
.textcontainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.techtextcontent{
    width: 100%;
    height: 100%;
    
}
.techtextcontent3{
    display: none;
}
.techtextcontent2{
    width: 100%;
    height: 100%;
    display: none;
}
.techthird{
    display: none;
}
.techtwo{
    display: none;
}
.phead1{
    margin: 0 0 20px 20px;font-size: 20px;color: rgb(153, 149, 149);
}
.phead2{
    margin: 0 0 20px 20px;font-size: 30px;color: rgb(245, 243, 243);
}
.pbody{
    margin: 0 0 0 20px;color: rgb(238, 232, 232);
}

@media (max-width:1024px) {
    body{
        min-height: 100vh;
    }
    #bodyTech{
        width: 100vw;
        height: 150vh;
        display: grid;
        grid-template-rows: 60% 40%;
    }
    .techContent{
        width: 100%;
        height: 100%;
        grid-row: 2;
    }
    #techcontenttext{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 150px;
    }
    .techImage{
        width: 100%;
        height: 100%;
        grid-row: 1;
        justify-self: center;

    }
    .techImage img{
        width: 100%;
        margin: 30px 0 0 70px;
        position: relative;
        top: 10px;
    }
    .techcontentheader{
        position: relative;
        bottom: 500px;right: 140px;
    }
    .techtextnum{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .techtextcontent p{
        justify-self: center;
        align-self: center;
    }
    .techtextcontent2 p{
        justify-self: center;
        align-self: center;
    }
    .techtextcontent3 p{
        justify-self: center;
        align-self: center;
    }
    
   
}
@media (max-width:699px) {
    .techcontentheader{
        position: relative;
        bottom: 500px;right: 100px;
    }
    .dropdown{
        display: block;
    }
    .dropdownContent{
        width: 350px;
        left: 330.9px;
      
    }
    
   
}
@media (max-width:499px) {
    .techcontentheader{
        position: relative;
        bottom: 500px;right: 40px;
        font-size: 11.5px;
    }
    .dropdown{
        display: block;
    }
    .dropdownContent{
        width: 355px;
        left: 145.9px;
    }
    .phead1{
        font-size: 17px;
    }
    .phead2{
        font-size: 16px;
    }
    .pbody{
       font-size: 12px;
    }
    
    
}
@media (max-width:330px) {
    .techcontentheader{
        position: relative;
        bottom: 500px;right: 10px;
        font-size: 10px;
    }
    .dropdown{
        display: block;
    }
    .dropdownContent{
        width: 355px;
        left: 105.9px;
    }
    .phead1{
        font-size: 14px;
    }
    .phead2{
        font-size: 14px;

    }
    .pbody{
       font-size: 8px;
    }
   
    
}
