*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 100vw;
    min-height: auto;
    background-image: url(./assets/background-home-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#headContainer{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 50px;
    height: 50px;
    margin: 50px 0 0 50px;
}
.headLine{
    width: 40%;
    height: 1px;
    background-color: white;
    position: relative;
    top: 65%;left: 4%;
    opacity: 0.3;
}
.navContainer{
    width: 50%;
    height: 70%;
    
    margin-top: 33.5px;
   
    position: relative;
    box-shadow: 0;
}
.blur{
    width: 100%;
    height: 100%;
    background-color: white;
    
    opacity: 0.1;
   
}

.navbar{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}
.navbar a{
    margin-right: 15px;
    text-decoration: none;
    color: rgb(247, 246, 246);
    position: relative;
}
.navbar a span{
    color: rgb(206, 202, 202);
}
.navbar a .pp{
    line-height: 75px;
}
.navbar a .pp::before{
    content: "";
    width: 67px;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0;
    right: 0;
}
.navbar a .pk{
    line-height: 75px;
}
.navbar a .pk::before{
    content: "";
    width: 125px;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0;
    right: 0;
}
.navbar a .pq{
    line-height: 75px;
}
.navbar a .pq::before{
    content: "";
    width: 130px;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0;
    right: 0;
}

#homebody{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    position: relative;
}
.bodywriteup{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bodywriteup .p1{
    color: rgba(208, 214, 249, 1);font-size: 20px;margin-right: 10px;
}
.bodywriteup .p2{
    color: white;font-size: 120px;
    margin: 20px 0 20px 0;
}
.bodywriteup .p4{
    display: none;
}

.bodyexplore{
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    left: 70%;top: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyexplore p{
    font-size: 20px;
    color: rgba(11, 13, 23, 1);
}
.dropdown{
    display: none;
    position: relative;
    top: 30px;right: 20px;
    color: rgb(247, 246, 246);
}
.dropdownContent{
    display: none;
  position: fixed;
  top: 15px;left: 375.9px;
  background-color: white;
  width: 250px;
  height: 100vh;
  padding-left: 10px;
  z-index: 1;
}
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.close{
    position: relative;
    left: 20px;bottom: 200px;
}
.dropdownContent a span{
    color: rgb(148, 147, 147);
}
.droptext{
    width: 100%;
    height: 100%;
    
}

@media (max-width:1024px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-home-tablet.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        
    }
    .headLine{
       display: none;
    }
    .navContainer{
        width: 85%;
        height: 90%;
        position: relative;
        bottom: 35px;
        box-shadow: 0;
    }
    .navContainer2{
        display: none;
    }
    .navbar{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 90px;
    }
    .navbar a .pp{
        line-height: 95px;
    }
    .navbar a .pk{
        line-height: 95px;
    }
    .navbar a .pq{
        line-height: 95px;
    }
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 35px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    #homebody{
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-rows: 60% 40%;
        
    }
    .bodywriteup{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 20px;
    }
    .bodyexplore{
        width: 220px;
        height: 220px;
        background-color: white;
        position: absolute;
        left: 35%;top: 63%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyexplore p{
        font-size: 30px;
        color: rgba(11, 13, 23, 1);
    }
    .bodywriteup .p1{
        position: absolute;
        top: 10px;
        color: rgba(208, 214, 249, 1);font-size: 23px;margin-bottom: 30px;
    }
    .bodywriteup .p2{
        color: white;font-size: 150px;
        margin: 30px 5px 20px 0;
    }
    .bodywriteup .p3{
        color: white;font-size: 20px;
        padding: 5px 0 5px 0;
        
    }
    .ham{
        display: none;
    }
}
@media (max-width:850px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-home-tablet.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        
    }
    .headLine{
       display: none;
    }
    .navContainer{
        width: 85%;
        height: 90%;
        position: relative;
        bottom: 35px;
        box-shadow: 0;
    }
    .navContainer2{
        display: none;
    }
    .navbar{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 40px;
    }
    .navbar a .pp{
        line-height: 95px;
    }
    .navbar a .pk{
        line-height: 95px;
    }
    .navbar a .pq{
        line-height: 95px;
    }
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 35px;
        right: 10px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    #homebody{
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-rows: 60% 40%;
        
    }
    .bodywriteup{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    .bodyexplore{
        width: 200px;
        height: 200px;
        background-color: white;
        position: absolute;
        left: 35%;top: 63%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyexplore p{
        font-size: 30px;
        color: rgba(11, 13, 23, 1);
    }
    .bodywriteup .p1{
        position: absolute;
        top: 1px;
        color: rgba(208, 214, 249, 1);font-size: 22px;margin-bottom: 30px;
    }
    .bodywriteup .p2{
        color: white;font-size: 150px;
        margin: 20px 0 2px 0;
    }
    .bodywriteup .p3{
        color: white;font-size: 16px;
        padding: 5px 0 5px 0;
        
    }
    .ham{
        display: none;
    }
}
@media (max-width:699px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-home-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        min-height: 7rem;
        display: flex;
        justify-content: space-between;
    }
    .headLine{
       display: none;
    }
    .navContainer{
        display: none;
    }
    
 
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 30px;
        right: 10px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    #homebody{
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-rows: 60% 40%;
        
    }
    .bodywriteup{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    .bodyexplore{
        width: 200px;
        height: 200px;
        background-color: white;
        position: absolute;
        left: 33%;top: 59%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyexplore p{
        font-size: 22px;
        color: rgba(11, 13, 23, 1);
    }
    .bodywriteup .p1{
        position: absolute;
        top: 15px;
        color: rgba(208, 214, 249, 1);font-size: 20px;margin-bottom: 30px;
    }
    .bodywriteup .p2{
        color: white;font-size: 100px;
        margin: 3px 0 5px 0;
    }
    .bodywriteup .p3{
        color: white;font-size: 15px;
        padding: 5px 0 5px 0;
        
    }
    .dropdown{
        display: block;
    }
}
@media (max-width:530px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-home-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        min-height: 7rem;
        display: flex;
        justify-content: space-between;
    }
    .headLine{
       display: none;
    }
    .navContainer{
        display: none;
    }
    .dropdown{
        display: block;
    }
    .dropdownContent{
        left: 260.9px;
      
    }
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 30px;
        right: 10px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    #homebody{
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-rows: 60% 40%;
        
    }
    .bodywriteup{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    .bodyexplore{
        width: 200px;
        height: 200px;
        background-color: white;
        position: absolute;
        left: 31%;top: 65%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyexplore p{
        font-size: 20px;
        color: rgba(11, 13, 23, 1);
    }
    .bodywriteup .p1{
        position: absolute;
        top: 10px;
        color: rgba(208, 214, 249, 1);font-size: 15px;margin-bottom: 30px;
    }
    .bodywriteup .p2{
        color: white;font-size: 80px;
        margin: 5px 0 5px 0;
    }
    .bodywriteup .p3{
        display: none;
    }
    .bodywriteup .p4{
        display: block;
        color: white;font-size: 15px;
        padding: 5px 0 5px 0;
        
    }
}
@media (max-width:430px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-home-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        min-height: 7rem;
        display: flex;
        justify-content: space-between;
    }
    .headLine{
       display: none;
    }
    .navContainer{
        display: none;
    }
    .dropdown{
        display: block;
    }
    .dropdownContent{
        left: 170.9px;
      
    }
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 30px;
        right: 10px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    #homebody{
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-rows: 60% 40%;
        
    }
    .bodywriteup{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    .bodyexplore{
        width: 180px;
        height: 180px;
        background-color: white;
        position: absolute;
        left: 31%;top: 65%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyexplore p{
        font-size: 18px;
        color: rgba(11, 13, 23, 1);
    }
    .bodywriteup .p1{
        position: absolute;
        top: 10px;
        color: rgba(208, 214, 249, 1);font-size: 15px;margin-bottom: 30px;
    }
    .bodywriteup .p2{
        color: white;font-size: 80px;
        margin: 5px 0 5px 0;
    }
    .bodywriteup .p3{
        display: none;
    }
    .bodywriteup .p4{
        display: block;
        color: white;font-size: 15px;
        padding: 5px 0 5px 0;
        
    }
}
@media (max-width:380px) {
    body{
        max-width: 100vw;
        min-height: 100vh;
        background-image: url(./assets/background-home-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #headContainer{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .headLine{
       display: none;
    }
    .navContainer{
        display: none;
    }
    .dropdown{
        display: block;
    }
    .dropdownContent{
        left: 100.9px;
      
    }
    .logo{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 30px;
        right: 10px;
    }
    .logo img{
        width: 100%;
        height: 100%; 
    }
    #homebody{
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-rows: 60% 40%;
        
    }
    .bodywriteup{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    .bodyexplore{
        width: 150px;
        height: 150px;
        background-color: white;
        position: absolute;
        left: 27%;top: 65%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyexplore p{
        font-size: 18px;
        color: rgba(11, 13, 23, 1);
    }
    .bodywriteup .p1{
        position: absolute;
        top: 10px;
        color: white;font-size: 12px;margin-bottom: 30px;
    }
    .bodywriteup .p2{
        color: white;font-size: 50px;
        margin: 5px 0 5px 0;
    }
    .bodywriteup .p3{
        display: none;
    }
    .bodywriteup .p4{
        display: block;
        color: white;font-size: 11px;
        padding: 5px 0 5px 0;
        
    }
}